:root {
  /* カラー（色） */
  --white: #ffffff;
  --gray-10: #eeeeee;
  --gray-25: #aaaaaa;
  --gray-50: #707070;
  --gray-75: #444444;
  --black: #222222;
  --accent: #0d87e0;

  --lightskyblue: #87cefa;

  /* タイポグラフィ（フォントサイズ） */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); /* 16-18px */
  --display: clamp(2.5rem, 1.3rem + 5vw, 6rem); /* 72-160 */
  --heading1: clamp(2rem, 1.3rem + 3vw, 4rem); /* 32-64px */
  --heading2: calc(var(--body) * 1.5); /* 24-27px */
  --heading3: calc(var(--body) * 1.2); /* 19.2-21.6px */
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem); /* 14-27px */
  --small-heading3: calc(var(--small-heading2) * 0.86); /* 12-23px */

  /* スペース（余白・間隔） */
  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem); /* 20-30px */
  --space-sm: calc(var(--space-xs) * 1.5); /* 30-45px */
  --space-md: calc(var(--space-xs) * 2); /* 40-60px */
  --space-lg: calc(var(--space-xs) * 3); /* 60-90px */
  --space-xl: calc(var(--space-xs) * 4); /* 80-120px */
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem); /* 20-60px */
}

/* 基本設定 　*/
body {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sams-serif;
  font-size: var(--body);
}

h1{
  font-size: var(--heading1);
}

h2{
  font-size: var(--heading2);
}

h3{
  font-size: var(--heading3);
}

a{
  color: black;
  text-decoration: none;
  font-size: var(--heading3);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sams-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #444444;
  border-radius: 0.5rem;
}


a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #ffffff;
  border-radius: 3;
  background: #444444;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #f08080;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}


a.btn-border {
  border: 1px solid #444444;
  border-radius: 6;
  background: #e6c6c6;
  -webkit-box-shadow: 4px 4px 0 #444444;
  box-shadow: 4px 4px 0 #444444;
  margin: 2%;
  width: 25%;
}

a.btn-border:hover {
  border: 1px solid #444444;
  -webkit-box-shadow: -4px -4px 0 #444444;
  box-shadow: -4px -4px 0 #444444;
  background-color: #f08080;
  color: #ffffff;
}


.pagination-wrapper {
  text-align: center;
  margin: 40px 0;
}

.pagination {
  display: inline-block;
  border: 1px solid #444444;
  height: 75px;
  margin-top: 0px;
  padding: 0 0px;
  border-radius: 15px;
  background-color: #e6c6c6;
}
@media only screen and (max-width: 1199px) {
  .pagination {
    height: 50px;
    margin-top: 0px;
    padding: 0 0px;
    border-radius: 10px;
  }
}

.page-numbers {
  display: block;
  padding: 0 11px;
  float: left;
  transition: 400ms ease;
  color: #444444;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 70px;
  text-decoration: none;
}
.page-numbers:hover, .page-numbers.current {
  background-color: #f08080;
  color: #ffffff;
  text-decoration: none;
}
.page-numbers.prev:hover, .page-numbers.next:hover {
  background-color: transparent;
  color: #f08080;
  text-decoration: none;
}
@media only screen and (max-width: 1199px) {
  .page-numbers {
    padding: 0 10px;
    font-size: 16px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .page-numbers {
    padding: 0 14px;
    display: none;
  }
  .page-numbers:nth-of-type(2) {
    position: relative;
    padding-right: 50px;
  }
  .page-numbers:nth-of-type(2)::after {
    content: "・・";
    position: absolute;
    text-decoration: none;
    font-size: 25px;
    top: 0;
   
  }
  .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
    display: block;
  }
  .page-numbers:nth-last-child(-n+4) {
    padding-right: 14px;
  }
  .page-numbers:nth-last-child(-n+4)::after {
    content: none;
  }
}

/* 基本設定　 */
span > img {
  transition: 0.2s;
}

/* リセット */
body, h1, h2, h3, p, figure, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.twitter-timeline{
  margin: auto;
  width: 50%;
}

.eyecatch{
  border-radius: 10px;
}