:root {
  /* カラー（色） */
  --white: #ffffff;
  --gray-10: #eeeeee;
  --gray-25: #aaaaaa;
  --gray-50: #707070;
  --gray-75: #444444;
  --black: #222222;
  --accent: #0d87e0;

  --lightskyblue: #87cefa;

  /* タイポグラフィ（フォントサイズ） */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); /* 16-18px */
  --display: clamp(2.5rem, 1.3rem + 5vw, 6rem); /* 72-160 */
  --heading1: clamp(2rem, 1.3rem + 3vw, 4rem); /* 32-64px */
  --heading2: calc(var(--body) * 1.5); /* 24-27px */
  --heading3: calc(var(--body) * 1.2); /* 19.2-21.6px */
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem); /* 14-27px */
  --small-heading3: calc(var(--small-heading2) * 0.86); /* 12-23px */

  /* スペース（余白・間隔） */
  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem); /* 20-30px */
  --space-sm: calc(var(--space-xs) * 1.5); /* 30-45px */
  --space-md: calc(var(--space-xs) * 2); /* 40-60px */
  --space-lg: calc(var(--space-xs) * 3); /* 60-90px */
  --space-xl: calc(var(--space-xs) * 4); /* 80-120px */
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem); /* 20-60px */
}

/* 基本設定 　*/
body {
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sams-serif;
  font-size: var(--body);
}

h1{
  font-size: var(--heading1);
}

h2{
  font-size: var(--heading2);
}

h3{
  font-size: var(--heading3);
}

h4{
  font-size: var(--small-heading2);
}

a{
  color: black;
  text-decoration: none;
  font-size: var(--heading3);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sams-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #444444;
  border-radius: 0.5rem;
}


a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #ffffff;
  border-radius: 3;
  background: #444444;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #f08080;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}


a.btn-border {
  border: 1px solid #444444;
  border-radius: 6;
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 0 #444444;
  box-shadow: 4px 4px 0 #444444;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0%;
  margin-bottom: 3%;
  width: 25%;
  text-align: center;
  padding: 20px 10px;
}

a.btn-border:hover {
  border: 1px solid #444444;
  -webkit-box-shadow: -4px -4px 0 #444444;
  box-shadow: -4px -4px 0 #444444;
  background-color: #f08080;
  color: #ffffff;
}


.simple_square_btn2 {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: #222222;
	background: #fff;
	border:2px solid var(--gray-25);
  margin-top:1%;
  margin-bottom: 0%;
  border-radius: 0.5em;
  font-size: 100%;
}
.simple_square_btn2:hover {
	 background: #f08080;
         color: #fff;
	 cursor: pointer;
	 text-decoration: none;
}


.pagination-wrapper {
  text-align: center;
  margin: 0 0 30px 0;
}

.pagination {
  display: inline-block;
  border: 1px solid #444444;
  height: 75px;
  margin-top: 0px;
  padding: 0 0px;
  border-radius: 15px;
  background-color: #ffffff;
}
@media only screen and (max-width: 1199px) {
  .pagination {
    height: 50px;
    margin-top: 0px;
    padding: 0 0px;
    border-radius: 10px;
  }
}

.page-numbers {
  display: block;
  padding: 0 1%;
  float: left;
  transition: 400ms ease;
  color: #444444;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 70px;
  text-decoration: none;
}
.page-numbers:hover, .page-numbers.current {
  background-color: #f08080;
  color: #ffffff;
  text-decoration: none;
}
.page-numbers.prev:hover, .page-numbers.next:hover {
  background-color: transparent;
  color: #f08080;
  text-decoration: none;
}
@media only screen and (max-width: 1199px) {
  .page-numbers {
    padding: 0 10px;
    font-size: 16px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .page-numbers {
    padding: 0 8px;
    display: none;
    font-size: 12px;
  }
  .page-numbers:nth-of-type(2) {
    position: relative;
    padding-right: 40px;
  }
  .page-numbers:nth-of-type(2)::after {
    content: "・・";
    position: absolute;
    text-decoration: none;
    font-size: 25px;
    top: 0;
   
  }
  .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
    display: block;
  }
  .page-numbers:nth-last-child(-n+4) {
    padding-right: 14px;
  }
  .page-numbers:nth-last-child(-n+4)::after {
    content: none;
  }
}

/* 基本設定　 */
span > img {
  transition: 0.2s;
}

/* リセット */
body, h1, h2, h3, p, figure, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.twitter-timeline{
  margin: auto;
  width: 50%;
}

.eyecatch{
  border-radius: 10px;
}

.people{
  border: 1px solid #444444;
  border-radius: 10px;
}


.anime_wrap{
  position: relative;
  overflow: hidden;
  margin-bottom: 1%;
}

.anime_wrap p{
  position: absolute;
  top: 10%;
  left: 8%;
  font-size: 10vw;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sams-serif;
}

.kenburns-top-right {
	animation: kenburns-top-right 5s ease-out forwards;
}

 @keyframes kenburns-top-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 16%;
  }
  100% {
    transform: scale(1.1) translate(20px, 0px);
    transform-origin: right top;
  }
}

.tracking-then-kenburns {
    animation:
        tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards,
        kenburns-top-right 5s ease-out 1s forwards;
}

.tracking-in-contract {
	animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

 @keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.4em;
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    letter-spacing:0.05em;
    opacity: 1;
  }
}


.cp_card05 {
	position: relative;
	overflow: hidden;
  width: 100%;
	background: center/cover no-repeat;
	-webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0%;
}
.cp_card05:hover .description {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}
.cp_card05 input[type='checkbox'] {
	display: none;
}
.cp_card05 input[type='checkbox']:checked + .meta {
	-webkit-transform: translateY(-60px);
	        transform: translateY(-60px);
}
.cp_card05:hover .meta span {
	-webkit-transform: translate(-50%, -10px);
	        transform: translate(-50%, -10px);
	opacity: 1;
}

.cp_card05 .description {
	position: absolute;
	bottom: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	        transition: -webkit-transform 0.3s;
	        transition:         transform 0.3s;
	        transition:         transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: translateY(40px);
	        transform: translateY(40px);
	color: #ffffff;
	background: rgba(0, 0, 0, 0.4);
}
.cp_card05 .description .content {
	position: relative;
	z-index: 1;
	padding: 1em;
}
.cp_card05 .description h1 {
	font-size: 1.4em;
	margin-top: 10px;
}
.cp_card05 .description h1 a:hover {
	color: #f08080;
}
.cp_card05 .description h1 a {
	color: #ffffff;
	text-decoration: none;
}
.cp_card05 .description .text {
	height: 3em;
	margin: 0;
}
.cp_card05 .description .button {
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	position: relative;
	display: block;
	width: 100px;
	margin: 2em auto 1em;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

.cp_card05 .description .button:hover {
	color: #f08080;
}

.cp_card05 .meta {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.cp_card05 .meta::before,
.cp_card05 .meta::after {
	display: table;
	content: '';
}
.cp_card05 .meta::after {
	clear: both;
}
.cp_card05 .meta li {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}
.cp_card05 .meta a {
	color: #ffffff;
	text-decoration: none;
}
.cp_card05 .meta span {
	font-size: 10px;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transition: all 0.3s;
	        transition: all 0.3s;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	opacity: 0;
}
@media screen and (max-width: 480px) {
	.cp_card05 .description .text {
		height: 3em;
	}
}


.contactlink{
  color: #f08080;
  text-decoration: dotted;
  text-decoration-color: #f08080;
}