.flexContain {
    composes: sideBySideCenter from 'src/styles/utils.module.css'
}

.text {
    padding-top: calc(var(--display) * 0.5);
    padding-bottom: calc(var(--display) * 0.7);
}

.title {
    font-size: var(--display);
    font-weight: 700;
    letter-spacing: 0.1em;
    position: relative;
    padding: 1.5rem 1rem;
}
  
.title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.subtitle {
    font-size: var(--small-heading2);

}


/* image */
.image {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .image {
        width: 100%;
    }
}