/* デスクトップ */
@media (min-width: 768px){
   .btn{
    display: none;
   }

  .list {
    font-size: var(--heading3);
    font-weight: 500;
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 1em 2em;
    background-color: var(--gray-75);
    color: var(--white);
    display: flex;
    gap: 3em;
    border-radius: 10px;
    }
}

/* ホバー　　*/
@media (hover: hover) {
    .list a:not(:hover) {
        color: white;
        text-decoration: none;
    }
    .list a:hover {
        color: #f08080;
        text-decoration: none;
    }
}

@media (hover: none) {
    .list a {
        -webkit-tap-highlight-color: transparent;
    }

    .list a:active {
        color: #f08080;
    }
}